<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::body}, 'Books')}">
<head><title>Books</title></head>
<body>
<div class="actions" style="margin-bottom: 12px;">
    <h2 style="margin-right:auto;">Books</h2>
    <a class="btn primary" href="/books/new">New book</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="booksTableBody"></tbody>
</table>
<script src="/js/books-list.js"></script>
</body>
</html>