<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::body}, 'Book')}">
<head><title>Book</title></head>
<body>
<h1 id="bookTitle">Book</h1>
<p><b>Author:</b> <span id="bookAuthor">-</span></p>
<p><b>Genres:</b> <span id="bookGenres">-</span></p>

<div class="actions" style="margin: 12px 0;">
    <a class="btn" id="editLink" href="#">Edit</a>
    <button class="btn danger" type="button" id="btnDelete">Delete</button>
    <a class="btn" href="/books">Back</a>
</div>

<h2>Comments</h2>
<div id="commentsEmpty">No comments</div>
<ul id="commentsList" style="display:none;"></ul>

<script src="/js/book-view.js"></script>
</body>
</html>